# Firebase Configuration for NER-LIFELINE
VITE_FIREBASE_API_KEY=AIzaSyCiAUD17sbRWqs_yDmGFmBNQ37Z2oaznxU
VITE_FIREBASE_AUTH_DOMAIN=ner-l-b0ef4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ner-l-b0ef4
VITE_FIREBASE_STORAGE_BUCKET=ner-l-b0ef4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=904831725553
VITE_FIREBASE_APP_ID=1:904831725553:web:ecd72d33ac7d319df55e50
